/* Estiliza a tela completa */
body {
    background-color: rgb(207, 96, 139);
}

/* Estiliza o cabeçalho */
header {
    background: linear-gradient(to right, #b9429c, #d31f88, rgb(219, 0, 84)); /* Degradê de roxo para rosa */
    display: flex; /* Exibe o título e a imagem lado a lado */
    align-items: center; /* Alinha o título e a imagem verticalmente */
    padding: 10px; /* Adiciona espaçamento interno no cabeçalho */
}

/* Estiliza o título do cabeçalho */
#titulo {
    font-size: 2.5em;
    color: #4d0180; 
    margin: 0;
    font-family: 'Calisto MT', sans-serif;
}

/* Estiliza a imagem do cabeçalho */
header img {
    max-width: 13%; /* Limita a largura da imagem para não ultrapassar o cabeçalho */
    height: auto;
    margin-left: 20px; /* Adiciona um espaço entre o título e a imagem */
}




.container {
    display: flex;
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
}
.image {
    flex: 1;
    margin-right: 20px;
}
.image img {
    max-width: 100%;
    border-radius: 10px;
}
.details {
    flex: 2;
}
.details h2 {
    margin: 0 0 10px;
    color: #333;
}
.details p {
    margin: 10px 0;
    line-height: 1.5;
}
.price {
    font-size: 24px;
    color: #E63946;
    margin-top: 15px;
}
.button {
    background-color: #E63946;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}
.button:hover {
    background-color: #D62828;
}
